/*About Us Page*/
.aboutUsBody {
    background-color: #76a56a;
}

.aboutUs-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #87D68D;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-member {
    clear: both;
    display: flex;
    align-self: flex-start;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #F7FFF6;
    margin: 20px;
}

.team-member img {
    float: left;
    width: 250px;
    border-radius: 20px;
    margin: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.team-member h4 {
    text-align: center;
}

.team-member p {
    clear: both;
    text-align: justify;
    padding: 20px;
}

.social-media-container {
    display: flex;
    justify-content: center;
}

.social-medias {
    display: flex;
}

.social-medias ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.social-medias li {
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.social-medias a {
    display: block;
}

.social-medias i {
    color: black;
    font-size: 36px;
}

.social-medias i:hover {
    color: #72dae7;
}

@media(max-width: 1000px) {

    .aboutUs-container {
        display: block;
    }

    .team-member {
        display: block;
        width: 90%;
        margin: 20px;
        margin-left: 5%;
        margin-right: -5%;
    }

    .team-member img {
        display:flex;
        float: none;
        margin: inherit;
        padding: 5px;
        width: 85%;
    }

    .social-medias {
        display: block;
    }

    .social-medias ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row-reverse wrap;
    }

    .social-medias i {
        font-size: 26px;
    }
}

@media(max-width: 500px) {
    .topnav {
        width: 90%;
    }

}