/*Articles*/
.articles-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #87D68D;
    width: 100%;
    margin-top: 5%;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article {
    clear: both;
    display: flex;
    justify-content: center;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #F7FFF6;
    margin: 20px;
}

.article img {
    display: flex;
    float: left;
    max-width: 300px;
    max-height: 150px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article h4 {
    text-align: center;
}

.article p {
    text-align: justify;
    padding: 20px;
}

@media(max-width: 1000px) {

    .articles-container{
        margin-top: 25%;
    }

    .article {
        display: block;
        margin: 20px;
        width: initial;
    }

    .article img {
        margin: inherit;
        width: 80%;
    }
}