/*Global Styles*/

body {
    background-color: rgb(228, 255, 235);
}

.nav-container{
    display: flex;
    justify-content: center;
}

.topnav {
    position: fixed;
    border-radius: 50px;
    background-color: rgb(96, 170, 226);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 60%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
}

.topnav i{
    font-size: 24px;
}

.topnav a:hover {
    color: #72dae7;
}

.footer {
    margin-top: 20px;
    text-align: center;
    padding: 1rem;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #72dae7;
}
